#label{
    font-size: 100px;
    color:white;
    display: flex;
    padding-top: 100px;
    justify-content: center;
}
#home{
    height: 790px;
    width: 790px;
    margin: 0px;
    border: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: onLoad 3s linear;
}
#home.offLoad{
    animation: offLoad 2s linear;
}
.button{
    border: solid white 5px;
    border-radius: 1px;
    width: 200px;
    position: absolute;
    left: 300px;
    text-align:center
}
#chapterFrame{
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    justify-content: center;
}
.chapters{
    border: solid white 5px;
    border-radius: 2px;
    width: 200px;
    height: 200px;
    margin: 20px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}