#island{
    height: 1000px;
    width: 790px;
    left: 0px;
    top: 100px;
    background-color:rgb(93, 184, 93);
    position:absolute;
}
#ocean{
    height:100px;
    width:790px;
    left:0px;
    background-color:blue;
    position:absolute;
}
.road1{
    height:500px;
    width:50px;
    left:300px;
    background-color:rgb(231, 221, 201);
    position:relative;
}
.road2{
    height:50px;
    width:300px;
    left:300px;
    background-color:rgb(231, 221, 201);
    position:relative;
}
