#caption{
    left:100px;
    position:sticky;
}
#ans1{
    height:50px;
    width:60px;
    border:solid white 5px;
    position:absolute;
    left:230px;
    top:50%;
    transform:translateY(-50%);
}
#ans2{
    height:50px;
    width:60px;
    border:solid white 5px;
    position:absolute;
    left: 330px;
    top:50%;
    transform:translateY(-50%);
}
#ans3{
    height:50px;
    width:60px;
    border:solid white 5px;
    position:absolute;
    left:430px;
    top:50%;
    transform:translateY(-50%);
}
#button{
    left:330px;
    top:50%;
    position:absolute;
    transform:translateY(200%);
}
#unlock{
    left:330px;
    top:50%;
    position:absolute;
    transform:translateY(200%);
}
.input{
    background-color: black;
    color: white;
    font-size: 23px;
    border: 0px;
    padding: 1px;
    line-height: 40px;
    position: absolute;
    top: 4px;
    text-align: center;
}