#caption{
    top:100px;
    left:100px;
    position:sticky;
}
#ans1{
    height:50px;
    width:60px;
    border:solid white 5px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-200%) translateY(-50%);
}
#ans2{
    height:50px;
    width:60px;
    border:solid white 5px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
}
#ans3{
    height:50px;
    width:60px;
    border:solid white 5px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(100%) translateY(-50%);
}
#button{
    left:50%;
    top:50%;
    position:absolute;
    transform:translateX(-50%) translateY(200%);
}
#unlock{
    left:50%;
    top:50%;
    position:absolute;
    transform:translateX(-50%) translateY(200%);
}