@keyframes splash1{
    0% {opacity: 0;}
      30% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}
.imgs{
    width: 790px;
    height: 780px;
    position: absolute;
}
#splash1{
    animation: splash1 3s linear;
}